SPOTIPY_CLIENT_ID=your_spotify_client_id_here
SPOTIPY_CLIENT_SECRET=your_spotify_client_secret_here
MISTRAL_API_KEY=your_mistral_api_key_here
GROQ_API_KEY=your_groq_api_key_here
HF_TOKEN=your_hf_token_here
RSS_FEED=your_rss_feed_url_here
SPOTIFY_PODCAST_NAME=exact_podcast_name_as_shown_on_spotify
COLLECTION_NAME=your_collection_name_here
MAX_DOWNLOADED_EPISODES_PER_RUN=5
DOCKER_IMAGE=your_ecr_image_uri_here
